<div class="header">
    <h1>Transaction Management Application</h1>
</div>

<div class="button-container">
    <button id="createAppointmentBtn">Create Appointment</button>
    <button id="editAppointmentBtn">Edit Appointment</button>
    <button id="showAppointmentsBtn">Show Appointments</button>

</div>