<h1>Create Appointment Form</h1>
<form action="/submit" method="POST">
    <label for="pxid">Patient ID:</label>
    <input type="text" id="pxid" name="pxid" required><br>

    <label for="clinicid">Clinic ID:</label>
    <input type="text" id="clinicid" name="clinicid" required><br>

    <label for="doctorid">Doctor ID:</label>
    <input type="text" id="doctorid" name="doctorid" required><br>

    <label for="apptid">Appointment ID:</label>
    <input type="text" id="apptid" name="apptid" required><br>

    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="queued">Queued</option>
        <option value="completed">Completed</option>
        <option value="noshow">No Show</option>
    </select><br>

    <label for="TimeQueued">Time Queued:</label>
    <input type="datetime-local" id="TimeQueued" name="TimeQueued"><br>

    <label for="QueueDate">Queue Date:</label>
    <input type="date" id="QueueDate" name="QueueDate"><br>

    <label for="StartTime">Start Time:</label>
    <input type="datetime-local" id="StartTime" name="StartTime"><br>

    <label for="EndTime">End Time:</label>
    <input type="datetime-local" id="EndTime" name="EndTime"><br>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type"><br>

    <label for="isVirtual">Is Virtual:</label>
    <select id="isVirtual" name="isVirtual">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select><br>

    <label for="hospitalname">Hospital Name:</label>
    <input type="text" id="hospitalname" name="hospitalname"><br>

    <label for="City">City:</label>
    <input type="text" id="City" name="City"><br>

    <label for="Province">Province:</label>
    <input type="text" id="Province" name="Province"><br>

    <label for="RegionName">Region:</label>
    <select id="RegionName" name="RegionName">
        <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
        <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
        <option value="Ilocos Region (I)">Ilocos Region (I)</option>
        <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
        <option value="Central Luzon (III)">Central Luzon (III)</option>
        <option value="CALABARZON (IV-A)">CALABARZON (IV-A)</option>
        <option value="MIMAROPA (IV-B)">MIMAROPA (IV-B)</option>
        <option value="Bicol Region (V)">Bicol Region (V)</option>
        <option value="Western Visayas (VI)">Western Visayas (VI)</option>
        <option value="Central Visayas (VII)">Central Visayas (VII)</option>
        <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
        <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
        <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
        <option value="Davao Region (XI)">Davao Region (XI)</option>
        <option value="SOCCSKSARGEN (Cotabato Region) (XII)">SOCCSKSARGEN (Cotabato Region) (XII)</option>
        <option value="Caraga (XIII)">Caraga (XIII)</option>
        <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)">Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)</option>
    </select><br>

    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender"><br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age"><br>

    <label for="mainspecialty">Main Specialty:</label>
    <input type="text" id="mainspecialty" name="mainspecialty"><br>

    <input type="submit" value="Submit">
</form>
