<link rel="stylesheet" href="/static/css/views.css">


<div class="header">
    <h1>Transaction Management Application</h1>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>pxid</th>
                <th>clinicid</th>
                <th>doctorid</th>
                <th>apptid</th>
                <th>status</th>
                <th>TimeQueued</th>
                <th>QueueDate</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>type</th>
                <th>isVirtual</th>
                <th>hospitalname</th>
                <th>City</th>
                <th>Province</th>
                <th>RegionName</th>
                <th>gender</th>
                <th>age</th>
                <th>mainspecialty</th>
            </tr>
        </thead>
        <tbody>
            <!-- You can add your data rows here -->
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>