.header {
    background-color: gray;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}