.header {
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 150px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}